@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

html, body{
    color-scheme: dark;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.avatarlogo {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
}

.avatarlogo img {
    max-height: 350px;
    width: auto;
    border-radius: 50%;
}

.nicklogodiv {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    padding: 15px 0 15px 0;
}

.nickback {
    display: flex;
    position: absolute;
    height: 100px;
    width: 300px;
    background-color: black;
    opacity: .3;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal2 h2 {
    margin-bottom: 20px;
}

.modal2 p {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.modal3 h2 {
    margin-bottom: 20px;
}

.btns button {
    text-decoration: none;
    width: 20vw;
    height: 50px;
    border: 1px solid;
    border-radius: 20px;
    transition: 0.3s;
}

.btns button:hover {
    width: 25%;
    height: 60px;
    transition: 0.3s;
}

.btns:hover,
button:hover {
  outline: 0;
  color: #fff;
}

.btns:active,
button:active {
  outline: 0;
  color: #fff;
}

.my_projects {
  background: linear-gradient(to left, transparent 50%, #333 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.my_projects:hover {
  background-position: left bottom;
}

#my_bio {
    background: linear-gradient(to left, transparent 50%, #333 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
#my_bio:hover {
    background-position: left bottom;
}

.name {
    background: linear-gradient(to left, transparent 50%, #333 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.name:hover {
    background-position: left bottom;
}

.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 1);
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.socnetw {
    font-weight: 400;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 16px;
    height: 180px;
}

.socnetw div {
    border-radius: 10px;
    height: 60px;
    box-shadow: 0 4px 6px rgba(8, 8, 8, 0.1); /* Тень */
    backdrop-filter: blur(20px);
}

.modal2 div {
    background: rgba(56, 56, 56, 0.2); /* Цвет фона с прозрачностью */
}

.discordicon {
    margin-top: 10px;
}

.githubicon {
    margin-top: 10px;
}

.discordicon h4 {
    padding-top: 15px;
    font-size: 20px;
}

.githubicon h4 {
    padding-top: 15px;
    font-size: 20px;
}

.telegrammicon h4 {
    padding-top: 15px;
    font-size: 20px;
}

.githubicon img {
    display: flex;
    position: absolute;
    padding: 10px 0 0 10px;
    height: 40px;
    width: auto;
}

.discordicon img {
    display: flex;
    position: absolute;
    padding: 10px 0 0 10px;
    height: 40px;
    width: auto;
}

.telegrammicon img {
    display: flex;
    position: absolute;
    padding: 10px 0 0 10px;
    height: 40px;
    width: auto;
}

body.open .modal-background{
    visibility: visible;
    opacity: 1;
    animation: background-in 1s both;
}

.modal-background2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 1);
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.name.active .modal-background2{
    visibility: visible;
    opacity: 1;
    animation: background-in2 1s both;
}

.modal-background3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 1);
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.my_projects.active .modal-background3{
    visibility: visible;
    opacity: 1;
    animation: background-in2 1s both;
}

.modal{
    font-family: "Roboto", sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    background: #37353b;
    color: #f9f9f9;
    padding: 48px 40px;
    border-radius: 12px;
    width: 300px;
    translate: -50% -50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.modal p {
    font-weight: 500;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
}

.modal2{
    position: fixed;
    top: 50%;
    left: 50%;
    background: #37353b;
    color: #f9f9f9;
    padding: 48px 40px;
    border-radius: 12px;
    width: 300px;
    translate: -50% -50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.modal3{
    position: fixed;
    top: 50%;
    left: 50%;
    background: #37353b;
    color: #f9f9f9;
    padding: 48px 40px;
    border-radius: 12px;
    width: 300px;
    translate: -50% -50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

main {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 100px;
}

.modal h2 {
    margin-bottom: 10px;
}

.videologo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 1000px;
}

.videologo video {
    border-radius: 50px;
}

.name.active .modal2{
    opacity: 1;
    visibility: visible;
    animation: modal-in2 1s;
}

.name .modal2{
    opacity: 0;
    visibility: hidden;
    translate: -50% -50%;
}

.my_projects.active .modal3{
    opacity: 1;
    visibility: visible;
    animation: modal-in2 1s;
}

.my_projects .modal3{
    opacity: 0;
    visibility: hidden;
    translate: -50% -50%;
}

body.open .modal{
    opacity: 1;
    visibility: visible;
    animation: modal-in 1s;
}

body.closed .modal{
    opacity: 0;
    visibility: hidden;
    translate: -50% -50%;
}

@keyframes background-in {
    0% {
        scale: 0 0.005;
    }
    33% {
        scale: 1 0.005;
    }
    66%, 100% {
        scale: 1 1;
    }
}

@keyframes background-in2 {
    0% {
        scale: 0 0.005;
    }
    33% {
        scale: 1 0.005;
    }
    66%, 100% {
        scale: 1 1;
    }
}

@keyframes background-in3 {
    0% {
        scale: 0 0.005;
    }
    33% {
        scale: 1 0.005;
    }
    66%, 100% {
        scale: 1 1;
    }
}

@keyframes modal-in{
    0%, 66%{
        opacity: 0;
        visibility: hidden;
        translate: -50% -30%;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

@keyframes modal-in2{
    0%, 66%{
        opacity: 0;
        visibility: hidden;
        translate: -50% -30%;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

@keyframes modal-in3 {
    0%, 66%{
        opacity: 0;
        visibility: hidden;
        translate: -50% -30%;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 500px) {
    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .btns button {
        min-width: 200px;
    }

    .avatarlogo img {
        max-height: 250px;
        width: auto;
    }

    .nicklogodiv h1 {
        font-size: 30px;
    }
} 
